<nav>
  <a
    class="button"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    ariaCurrentWhenActive="page"
  >
    Home
  </a>
  <a
    class="button"
    routerLink="/deferred-loading"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Deferred Loading
  </a>
  <a
    class="button"
    routerLink="/track"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Track List Items
  </a>
  <a
    class="button"
    routerLink="/alerts"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Alerts
  </a>
  <a
    class="button"
    routerLink="/admin"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Administration
  </a>
</nav>
