ul.list-box {
  display: flex;
  padding: 0;
  margin: 0;

  > li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    padding: .75rem;

    &:first-child {
      border-left-width: 1px;
    }

    &:focus {
      background: rgba(0, 0, 0, 0.2);
    }

    &[aria-selected="true"]::before {
      content: "";
      position: absolute;
      border: 3px solid color-mix(in srgb, var(--electric-violet) 80%, transparent);
      border-radius: 0.5rem;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;
    }
  }
}
