.form-field-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex-grow: 1;
}

input,
textarea,
select,
ul.list-box {
  background: color-mix(in srgb, var(--pill-accent) 10%, transparent);
  font-size: 1rem;
  padding: 0.75rem 0.5rem;
  border: 2px solid color-mix(in srgb, var(--electric-violet) 30%, transparent);
  border-radius: 0.5rem;
  font-family: var(--font-family);

  &::placeholder {
    color: var(--grayr-400);
  }
}

input,
textarea,
select,
button, ul.list-box li {
  &:focus-within {
    outline-width: 3px;
    outline-style: solid;
    outline-color: lightblue;
    outline-offset: 2px;
  }
}

label:has(+ input, + textarea, + select, +ul.list-box) {
  color: var(--electric-violet);
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
}

label:has(+ input[required])::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after {
  content: " *";
}
label:has(+ input[required][aria-invalid="true"])::after,
label:has(+ textarea[required][aria-invalid="true"])::after,
label:has(+ select[required][aria-invalid="true"])::after {
  color: var(--hot-red);
}

p.description {
  color: var(--gray-900);
  font-size: 0.75rem;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}
input[aria-invalid="true"] + p.description {
  color: #ac0000;
}

ul.list-box {
  display: flex;
  padding: 0;
  margin: 0;

  > li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    padding: .75rem;

    &:first-child {
      border-left-width: 1px;
    }

    &:focus {
      background: rgba(0, 0, 0, 0.2);
    }

    &[aria-selected="true"]::before {
      content: "";
      position: absolute;
      border: 3px solid color-mix(in srgb, var(--electric-violet) 80%, transparent);
      border-radius: 0.5rem;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;
    }
  }
}
