:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  max-width: 800px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 900px) {
    max-width: 800px;
  }
}
