<img src="assets/logo.png" alt="Angular Berlin Meetup Logo and slogan">
<h1>Hello, meetup people 👋🏼</h1>
<p>Let's talk about accessibility and how Angular helps us to improve it.</p>

<h2>Contact</h2>
<ul>
  <li><a href="mailto:mail@k9n.dev" target="_blank">Mail: mail&#64;k9n.dev</a></li>
  <li><a href="https://github.com/d-koppenhagen" target="_blank">Github: d-koppenhagen</a></li>
  <li><a href="https://twitter.com/d_koppenhagen" target="_blank">X (Twitter): d_koppenhagen</a></li>
  <li><a href="https://linkedin.com/in/d-koppenhagen" target="_blank">LinkedIn: d-koppenhagen</a></li>
  <li><a href="https://xing.com/profile/Danny_Koppenhagen" target="_blank">Xing: Danny_Koppenhagen</a></li>
  <li><a href="https://techhub.social/@k9n" target="_blank">Mastodon: techhub.social/&#64;k9n</a></li>
</ul>
