img {
  max-width: min(70vw, 600px);
  margin: 1rem 0;
}

h1 {
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

ul {
  font-size: 1.2rem;
  list-style: square;

  li {
    line-height: 1.5;
  }
}


.placeholder {
  width: 460px;
  height: 603px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}
